<style>
    .passwordprotect p.message {
        border: 1px solid #BDE;
        background-color: #CEE6FD;
        border-radius: 3px;
        font-weight: normal;
        font-size: 1rem;
        color: #444;
        padding: 4px 8px;
    }

    .passwordprotect p.message-correct {
        border: 1px solid #9F9;
        background-color: #DFD;
    }

    .passwordprotect p.message-wrong {
        border: 1px solid #FBB;
        background-color: #FDD;
    }

    .passwordprotect fieldset {
        border: 0;
    }

    .passwordprotect div {
        margin: 0.5rem 0;
    }

    .passwordprotect label {
        min-width: 120px;
        display: inline-block;
        font-size: 1rem;
    }

    .passwordprotect input {
        font-size: 1rem;
        padding: 0.4rem;
        border: 1px solid #BBB;
        border-radius: 3px;
    }
</style>
<form action="#" method="post" class="passwordprotect">
    {% if notice is not empty %}
        {{ notice }}
    {% endif %}
    <fieldset>
    {% if not passwordprotect_username() %}
        {{ form_widget(form) }}
        <input class="button is-primary btn btn-primary" type="submit" name="{{ labels.login }}" value="{{ labels.login }}" />
    {% else %}
        <input type="hidden" id="form__token" name="form[_token]" value="{{ form._token.vars.value }}" />
        <input class="button is-primary btn btn-primary" type="submit" name="{{ labels.logout }}" value="{{ labels.logout }}" />
    {% endif %}
    </fieldset>
</form>
